@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <span class="font-weight-bold">Path Finder</span><span class="text-muted">&nbsp; - Experimentation Switches</span>
        <a href="/about" class="btn-link ml-md-auto">About</a>
    </div>

    <div class="content col-md-10">
        @Body
    </div>
</div>

<footer class="fixed-bottom" style="height:60px; line-height: 60px; background-color:lightgray">
    <div class="ml-4">
        <span>Powered by ASP.NET Core Blazor WebAssembly</span>
    </div>
</footer>

