@using PathFinderWeb.Client.Services;
@using Toolbox.Tools;
 
@inject ClientContentService _clientContentService;

<div>
    <p>@((MarkupString)Html)</p>
</div>


@code {
    [Parameter]
    public string Id { get; set; } = null!;

    private string Html { get; set; } = null!;

    protected override async Task OnParametersSetAsync()
    {
        Id.VerifyNotEmpty(nameof(Id));

        Html = await _clientContentService.GetDocHtml(Id);
    }
}
