@page "/link"

@using PathFinderWeb.Client.Application;
@using PathFinder.sdk.Records;

<PageHeader Header="Links" SubHeader="Manage link records" />

<PageMenu MenuCollection="@MenuCollection" />

<div class="mt-md-2">

    @switch (Context.RunState)
    {
        case RunState.Startup:
            <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" Style="margin-bottom: 20px" />
            break;

        case RunState.Error:
            <div class="alert alert-danger" role="alert">
                @Context.ErrorMessage
            </div>
            break;

        case RunState.Result:
            <div class="row">
                <div class="pl-3 pr-3">
                    <RadzenGrid AllowFiltering="false" AllowPaging="true" PageSize="20" AllowSorting="false" Data="@Context.Records" TItem="LinkRecord" ColumnWidth="200px" RowSelect="OnRowSelect">
                        <Columns>
                            <RadzenGridColumn TItem="LinkRecord" Property="Id" Title="Id" Width="100px"/>
                            <RadzenGridColumn TItem="LinkRecord" Property="RedirectUrl" Title="Redirect to Url" />
                            <RadzenGridColumn TItem="LinkRecord" Property="Enabled" Title="Enabled" Width="50px" />
                        </Columns>
                    </RadzenGrid>
                </div>
            </div>
            break;
    }
</div>