@page
@{
    ViewData["Title"] = "Future Document";
}

<div class="text-center">
    <h1 class="display-4">Future Document Destination</h1>
    <h3>This is an client example of a Redirect-Link.  This page is the destination for the future page.</h3>
    <p>For additional information, click <a href="~/index">here</a>.</p>
</div>