@page
@model IndexModel
@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is an client example of a Redirect-Link.</p>
    <p>For additional information, click <a href="http://localhost:5010/Link/first">here</a>.</p>
</div>
